.stepsAbout-content,  .stepsAbout-name{
    font-size: 2vh;
    text-align: center;
    font-family: 'Roboto';
  }
  
  .stepsAbout-name {
    font-weight: bold;
  }
  
  .stepsAbout-content {
    color: #757575;
    position: relative;
    bottom: 2vh;
  }
  
  .StepsAboutImage {
    height: 60%;
    width: auto;
    object-fit: contain;

  }