.carousel-content, .carousel-step, .carousel-title {
    font-size: 2.5vh;
    text-align: center;
    font-family: 'Roboto';
  }
  
  .carousel-step {
    margin: 19.5% 5% 0;
    font-weight: bold;
  }
  
  .carousel-content {
    margin: 7% auto 0;
    color: #757575;
  }
  
  .carousel-title {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  
  .main-message {
    width: fit-content;
    font-size: 3vh;
    font-weight: 700;
  }
  
  .user-preferences-container {
    margin: 4vh auto 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  
  .user-preferences-container-desktop {
    margin: 4vh 0 0 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: fit-content;
  }
  
  .user-preferences-container-element {
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-wrap: wrap;
  }
  
  .main-img {
    max-height: 30vh;
    width: auto;
    object-fit: contain;
  }
  
  .main-desktop {
    max-height: 44vh;
    width: auto;
    object-fit: contain;
  }
  

  .carouselAbout-name {
    margin: 0 auto 0;
    color: black;
    font-weight: bold;
    font-size: large;
  }

  .carouselAbout-content {
    font-family: 'Roboto';
    font-size: 2vh;
    color: #757575;
  }
