@font-face {
    font-family: "Roboto";
    src: url(src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Noway";
  src: url(src/assets/fonts/noway-regular.ttf);
}

.about-title {
  color: #6cc573;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Noway';
  margin-bottom: 1vh;
  margin-top: 2vh;
}

.about-accroche {
  font-size: 1.7vh;
  font-family: 'Roboto';
  color: #757575;
}

.mainAbout-img-desktop {
  width: 40%;
  font-family: 'Roboto';
  color: #757575;
  font-size: 4vh;
  margin-right: 12vh;
}

.mainAbout-img {
  height: 70%;
  width: auto;
  font-family: 'Roboto';
  color: #757575;
  font-size: 4vh;
  margin: 0 auto 2vh;
}
