#App {
  background-image: url('../../assets/images/road_mobile.jpg');
  background-position: top 23vh left 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

#App-Desktop {
  background-image: url('../../assets/images/road_desktop2.jpg');
  background-repeat: no-repeat;
  background-position: top 86px left 0px;
  background-size: contain;

}

#App-Tablet {
  background-image: url('../../assets/images/road_desktop2.jpg');
  background-position: top 86px left 0px;
  background-repeat: no-repeat;
  background-size: contain;

}

.appContainer {
  position: absolute;
  right: 0px;
  opacity: 1;
  transition: right 1s, opacity 1s;
  

  &--open {
    position: absolute;
      right: 200px;
      opacity: 0;

  }
}