#App {
  background-image: url('./mapTransparency.svg');
  background-position: top -20px left -40px;
  background-repeat: no-repeat;
  background-size: 127% 50vh;
}

#App-Desktop {
  background-image: url('./mapTransparency.svg');
  background-position: top -12vh left -116vh;
  background-repeat: no-repeat;
  background-size: 150% 70vh;
}
