.modal-proposition, .modal-title {
  color: black;
}

.modal-title {
  font-size: 3vh;
  font-weight: bold;
}

.modal-proposition {
  font-size: 2vh;
}

.modal-form-coreation-account {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
