@font-face {
    font-family: "Noway";
    src: url(src/assets/fonts/noway-regular.ttf);
  }

.map-container {
    height: 400px;
    }
     

.mapboxgl-popup-content {
      max-width: 200px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
     
      h3 {
        font-weight: bold;
      }

      img {
        width: 180px;
        height: 80px;
      }
      }

.mapboxgl-canvas {
  padding: 15px;;
}