@use 'src/styles/vars';

.main-title {
    color: vars.$lightGreen;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Noway';
  }

  .icon{
    &::after {
      content: '';
      border-bottom: 0.4vh solid vars.$lightGreen;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .connexion {
    margin: 4vh 1.5vh 0; 
    position: fixed;
    right: 0; 
    bottom: unset;
    top: 0;
    width: fit-content;
    font-weight: bold;
    color: vars.$darkGrey;
    cursor: pointer;

    &--menu {
      color: vars.$darkGreen;
      display:flex;
      justify-content: space-between;
      width: 11rem;
    }
  }