.carousel-content, .carousel-title {
  font-size: 3vh;
  text-align: center;
}

.carousel-title {
  margin: 18% 5% 0;
  font-weight: bold;
  justify-self: center;
}

.carousel-content {
  margin: 5% 5% 0;
}

