.carousel-content, .carousel-step, .carousel-title {
  font-size: 2.5vh;
  text-align: center;
  font-family: 'Roboto';
}

.carousel-step {
  margin: 19.5% 5% 0;
  font-weight: bold;
}

.carousel-content {
  margin: 7% auto 0;
  color: #757575;
}

.carousel-title {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 2vh;
}

