.modal-proposition, .modal-title {
  color: black;
}

.modal-title {
  font-size: 3vh;
  font-weight: bold;
}

.modal-proposition {
  font-size: 2vh;
}

.password-update {
  background-color: white;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
