@font-face {
    font-family: "Noway";
    src: url(src/assets/fonts/noway-regular.ttf);
}

.map {
  // width: 'fit-content';
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  height: 50vh;
  // width: 50vw;
  width: 98%;
  margin: auto;
}
     
.mapboxgl-popup-content {
  max-width: 200px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;

  h3 {
    font-weight: bold;
  }

  img {
    width: 180px;
    height: 80px;
  }
}

.mapboxgl-canvas {
  padding: 15px;;
}
