.modal-proposition, .modal-title {
    color: black;
    font-family: 'Roboto';
  }
  
  .modal-title {
    font-size: 2.9vh;
    font-weight: bold;
    width: 80%;
  }
  
  .modal-proposition {
    font-size: 2vh;
    width: 80%;
    font-weight: 600;
  }
  
  .modal-proposition-link {
    text-decoration: underline;
    text-underline-offset: 0.2vh;
    text-decoration-thickness: 0.4vh;
  }
  
  .modal-form-connection {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .loginfail {
    color: red;
  }