@font-face {
    font-family: "Roboto";
    src: url(src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Noway";
  src: url(src/assets/fonts/noway-regular.ttf);
}

#main-HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  color: #6cc573;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Noway';
}

.main-accroche {
  font-size: 2.5vh;
  font-family: 'Roboto';
  color: #757575;
}

.main-accroche-desktop {
  font-family: 'Roboto';
  color: #757575;
  font-size: 4vh;
  width: 40%;
  position: relative;
  bottom: 23vh;
  left: 90vh;
}
