@font-face {
    font-family: "Roboto";
    src: url(src/assets/fonts/Roboto-Regular.ttf);
}

.content-picture{
    background-image: url(src/assets/images/eco-roads.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    height: 40vh;
    width: 100%;
}

.picture-desc{
    position: absolute;
    display: block;
    width: fit-content;
    color: #01a683;
    bottom: 25px;
    left: 015px;
    padding: 0 0 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.35;
    font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
}
