@use 'src/styles/vars';

@font-face {
    font-family: "Roboto";
    src: url(src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Noway";
  src: url(src/assets/fonts/noway-regular.ttf);
}

#main-HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25vh;
}

.main-title {
  color: vars.$lightGreen;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Noway';
}

.main-accroche {
  font-size: 2.5vh;
  font-family: 'Roboto';
  color: vars.$lightGreen;
}

.main-accroche-desktop {
  width: 40%;
  font-family: 'Roboto';
  color: vars.$lightGreen;
  font-size: 4vh;
  margin-right: 12vh;
  text-align: right;
  max-height: 11vh;
}

